[Unit]
Description=SigNoz OTel Collector
Documentation=https://signoz.io/docs
After={{ $.Metadata.Name }}-telemetrystore-{{ $.Spec.TelemetryStore.Kind }}-0-0

[Service]
User=signoz
Group=signoz
Type=simple
KillMode=mixed
Restart=on-failure
WorkingDirectory=/opt/ingester
ExecStart=/opt/ingester/bin/ingester --config=/opt/ingester/config.yaml --manager-config=/opt/ingester/opamp.yaml

[Install]
WantedBy=multi-user.target
