<?xml version="1.0"?>
<clickhouse>
	<logger>
		<level>information</level>
		<formatting>
			<type>json</type>
		</formatting>
		<log>/var/log/clickhouse-server/clickhouse-server.log</log>
		<errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
		<!-- Rotation policy
             See https://github.com/pocoproject/poco/blob/poco-1.9.4-release/Foundation/include/Poco/FileChannel.h#L54-L85
          -->
		<size>1000M</size>
		<count>10</count>
		<!-- <console>1</console> -->
		<!-- Default behavior is autodetection (log to console if not daemon mode and is tty) -->
	</logger>
	<http_port>8123</http_port>
	<tcp_port>9000</tcp_port>
	<mysql_port>9004</mysql_port>
	<postgresql_port>9005</postgresql_port>
	<interserver_http_port>9009</interserver_http_port>
	<!-- For 'Connection: keep-alive' in HTTP 1.1 -->
	<keep_alive_timeout>3</keep_alive_timeout>
	<!-- gRPC protocol (see src/Server/grpc_protos/clickhouse_grpc.proto for the API) -->
	<!-- <grpc_port>9100</grpc_port> -->
	<grpc>
		<enable_ssl>false</enable_ssl>
		<!-- The following two files are used only if enable_ssl=1 -->
		<ssl_cert_file>/path/to/ssl_cert_file</ssl_cert_file>
		<ssl_key_file>/path/to/ssl_key_file</ssl_key_file>
		<!-- Whether server will request client for a certificate -->
		<ssl_require_client_auth>false</ssl_require_client_auth>
		<!-- The following file is used only if ssl_require_client_auth=1 -->
		<ssl_ca_cert_file>/path/to/ssl_ca_cert_file</ssl_ca_cert_file>
		<!-- Default transport compression type (can be overridden by client, see the transport_compression_type field in QueryInfo).
             Supported algorithms: none, deflate, gzip, stream_gzip -->
		<transport_compression_type>none</transport_compression_type>
		<!-- Default transport compression level. Supported levels: 0..3 -->
		<transport_compression_level>0</transport_compression_level>
		<!-- Send/receive message size limits in bytes. -1 means unlimited -->
		<max_send_message_size>-1</max_send_message_size>
		<max_receive_message_size>-1</max_receive_message_size>
		<!-- Enable if you want very detailed logs -->
		<verbose_logs>false</verbose_logs>
	</grpc>
	<!-- Used with https_port and tcp_port_secure. Full ssl options list: https://github.com/ClickHouse-Extras/poco/blob/master/NetSSL_OpenSSL/include/Poco/Net/SSLManager.h#L71 -->
	<openSSL>
		<server>
			<!-- Used for https server AND secure tcp port -->
			<!-- openssl req -subj "/CN=localhost" -new -newkey rsa:2048 -days 365 -nodes -x509 -keyout /etc/clickhouse-server/server.key -out /etc/clickhouse-server/server.crt -->
			<!-- <certificateFile>/etc/clickhouse-server/server.crt</certificateFile> -->
			<!-- <privateKeyFile>/etc/clickhouse-server/server.key</privateKeyFile> -->
			<!-- dhparams are optional. You can delete the <dhParamsFile> element.
                 To generate dhparams, use the following command:
                  openssl dhparam -out /etc/clickhouse-server/dhparam.pem 4096
                 Only file format with BEGIN DH PARAMETERS is supported.
              -->
			<!-- <dhParamsFile>/etc/clickhouse-server/dhparam.pem</dhParamsFile>-->
			<verificationMode>none</verificationMode>
			<loadDefaultCAFile>true</loadDefaultCAFile>
			<cacheSessions>true</cacheSessions>
			<disableProtocols>sslv2,sslv3</disableProtocols>
			<preferServerCiphers>true</preferServerCiphers>
		</server>
		<client>
			<!-- Used for connecting to https dictionary source and secured Zookeeper communication -->
			<loadDefaultCAFile>true</loadDefaultCAFile>
			<cacheSessions>true</cacheSessions>
			<disableProtocols>sslv2,sslv3</disableProtocols>
			<preferServerCiphers>true</preferServerCiphers>
			<!-- Use for self-signed: <verificationMode>none</verificationMode> -->
			<invalidCertificateHandler>
				<!-- Use for self-signed: <name>AcceptCertificateHandler</name> -->
				<name>RejectCertificateHandler</name>
			</invalidCertificateHandler>
		</client>
	</openSSL>
	<!-- Default root page on http[s] server. For example load UI from https://tabix.io/ when opening http://localhost:8123 -->
	<!--
    <http_server_default_response>
	<![CDATA[<html ng-app="SMI2"><head><base href="http://ui.tabix.io/"></head><body><div ui-view="" class="content-ui"></div><script src="http://loader.tabix.io/master.js"></script></body></html>]]></http_server_default_response>
    -->
	<!-- Maximum number of concurrent queries. -->
	<max_concurrent_queries>100</max_concurrent_queries>
	<total_memory_profiler_step>4194304</total_memory_profiler_step>
	<uncompressed_cache_size>8589934592</uncompressed_cache_size>
	<mmap_cache_size>1000</mmap_cache_size>
	<!-- Path to data directory, with trailing slash. -->
	<path>/var/lib/clickhouse/</path>
	<!-- Path to temporary data for processing hard queries. -->
	<tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
	<!-- Directory with user provided files that are accessible by 'file' table function. -->
	<user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
	<!-- Sources to read users, roles, access rights, profiles of settings, quotas. -->
	<user_directories>
		<users_xml>
			<!-- Path to configuration file with predefined users. -->
			<path>users.xml</path>
		</users_xml>
		<local_directory>
			<!-- Path to folder where users created by SQL commands are stored. -->
			<path>/var/lib/clickhouse/access/</path>
		</local_directory>
	</user_directories>
	<!-- Default profile of settings. -->
	<default_profile>default</default_profile>
	<!-- Default database. -->
	<default_database>default</default_database>
	<mlock_executable>true</mlock_executable>
	<macros>
		<shard>01</shard>
		<replica>example01-01-1</replica>
	</macros>
	<!-- Reloading interval for embedded dictionaries, in seconds. Default: 3600. -->
	<builtin_dictionaries_reload_interval>3600</builtin_dictionaries_reload_interval>
	<!-- Maximum session timeout, in seconds. Default: 3600. -->
	<max_session_timeout>3600</max_session_timeout>
	<!-- Default session timeout, in seconds. Default: 60. -->
	<default_session_timeout>60</default_session_timeout>
	<!-- Serve endpoint for Prometheus monitoring. -->
	<prometheus>
		<endpoint>/metrics</endpoint>
		<port>9363</port>
		<metrics>true</metrics>
		<events>true</events>
		<asynchronous_metrics>true</asynchronous_metrics>
		<status_info>true</status_info>
	</prometheus>
	<!-- Query log. Used only for queries with setting log_queries = 1. -->
	<query_log>
		<!-- What table to insert data. If table is not exist, it will be created.
             When query log structure is changed after system update,
              then old table will be renamed and new table will be created automatically.
        -->
		<database>system</database>
		<table>query_log</table>
		<!--
            PARTITION BY expr: https://clickhouse.com/docs/en/table_engines/mergetree-family/custom_partitioning_key/
            Example:
                event_date
                toMonday(event_date)
                toYYYYMM(event_date)
                toStartOfHour(event_time)
        -->
		<partition_by>toYYYYMM(event_date)</partition_by>
		<!--
            Table TTL specification: https://clickhouse.com/docs/en/engines/table-engines/mergetree-family/mergetree/#mergetree-table-ttl
            Example:
                event_date + INTERVAL 1 WEEK
                event_date + INTERVAL 7 DAY DELETE
                event_date + INTERVAL 2 WEEK TO DISK 'bbb'

        <ttl>event_date + INTERVAL 30 DAY DELETE</ttl>
        -->
		<!-- Instead of partition_by, you can provide full engine expression (starting with ENGINE = ) with parameters,
             Example: <engine>ENGINE = MergeTree PARTITION BY toYYYYMM(event_date) ORDER BY (event_date, event_time) SETTINGS index_granularity = 1024</engine>
          -->
		<!-- Interval of flushing data. -->
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
	</query_log>
	<!-- Trace log. Stores stack traces collected by query profilers.
         See query_profiler_real_time_period_ns and query_profiler_cpu_time_period_ns settings. -->
	<trace_log>
		<database>system</database>
		<table>trace_log</table>
		<partition_by>toYYYYMM(event_date)</partition_by>
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
	</trace_log>
	<!-- Query thread log. Has information about all threads participated in query execution.
         Used only for queries with setting log_query_threads = 1. -->
	<query_thread_log>
		<database>system</database>
		<table>query_thread_log</table>
		<partition_by>toYYYYMM(event_date)</partition_by>
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
	</query_thread_log>
	<!-- Query views log. Has information about all dependent views associated with a query.
         Used only for queries with setting log_query_views = 1. -->
	<query_views_log>
		<database>system</database>
		<table>query_views_log</table>
		<partition_by>toYYYYMM(event_date)</partition_by>
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
	</query_views_log>
	<!-- Uncomment if use part log.
         Part log contains information about all actions with parts in MergeTree tables (creation, deletion, merges, downloads).-->
	<part_log>
		<database>system</database>
		<table>part_log</table>
		<partition_by>toYYYYMM(event_date)</partition_by>
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
	</part_log>
	<!-- Uncomment to write text log into table.
         Text log contains all information from usual server log but stores it in structured and efficient way.
         The level of the messages that goes to the table can be limited (<level>), if not specified all messages will go to the table.
    <text_log><database>system</database><table>text_log</table><flush_interval_milliseconds>7500</flush_interval_milliseconds><level></level></text_log>
    -->
	<!-- Metric log contains rows with current values of ProfileEvents, CurrentMetrics collected with "collect_interval_milliseconds" interval. -->
	<metric_log>
		<database>system</database>
		<table>metric_log</table>
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
		<collect_interval_milliseconds>1000</collect_interval_milliseconds>
	</metric_log>
	<!--
        Asynchronous metric log contains values of metrics from
        system.asynchronous_metrics.
    -->
	<asynchronous_metric_log>
		<database>system</database>
		<table>asynchronous_metric_log</table>
		<!--
            Asynchronous metrics are updated once a minute, so there is
            no need to flush more often.
        -->
		<flush_interval_milliseconds>7000</flush_interval_milliseconds>
	</asynchronous_metric_log>
	<!--
        OpenTelemetry log contains OpenTelemetry trace spans.
    -->
	<opentelemetry_span_log>
		<!--
            The default table creation code is insufficient, this <engine> spec
            is a workaround. There is no 'event_time' for this log, but two times,
            start and finish. It is sorted by finish time, to avoid inserting
            data too far away in the past (probably we can sometimes insert a span
            that is seconds earlier than the last span in the table, due to a race
            between several spans inserted in parallel). This gives the spans a
            global order that we can use to e.g. retry insertion into some external
            system.
        -->
		<engine>
            engine MergeTree
            partition by toYYYYMM(finish_date)
            order by (finish_date, finish_time_us, trace_id)
        </engine>
		<database>system</database>
		<table>opentelemetry_span_log</table>
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
	</opentelemetry_span_log>
	<!-- Crash log. Stores stack traces for fatal errors.
         This table is normally empty. -->
	<crash_log>
		<database>system</database>
		<table>crash_log</table>
		<partition_by />
		<flush_interval_milliseconds>1000</flush_interval_milliseconds>
	</crash_log>
	<!-- Profiling on Processors level. -->
	<processors_profile_log>
		<database>system</database>
		<table>processors_profile_log</table>
		<partition_by>toYYYYMM(event_date)</partition_by>
		<flush_interval_milliseconds>7500</flush_interval_milliseconds>
	</processors_profile_log>
	<!-- Configuration of external dictionaries. See:
         https://clickhouse.com/docs/en/sql-reference/dictionaries/external-dictionaries/external-dicts
    -->
	<dictionaries_config>*_dictionary.xml</dictionaries_config>
	<!-- Configuration of user defined executable functions -->
	<user_defined_executable_functions_config>*function.xml</user_defined_executable_functions_config>
	<user_scripts_path>/var/lib/clickhouse/user_scripts/</user_scripts_path>
	<!-- Uncomment if you want data to be compressed 30-100% better.
         Don't do that if you just started using ClickHouse.
      -->
	<!--
    <compression>
	<!- - Set of variants. Checked in order. Last matching case wins. If nothing matches, lz4 will be used. - -><case>
	<!- - Conditions. All must be satisfied. Some conditions may be omitted. - -><min_part_size>10000000000</min_part_size>
	<!- - Min part size in bytes. - -><min_part_size_ratio>0.01</min_part_size_ratio>
	<!- - Min size of part relative to whole table size. - ->
	<!- - What compression method to use. - -><method>zstd</method></case></compression>
    -->
	<!-- Allow to execute distributed DDL queries (CREATE, DROP, ALTER, RENAME) on cluster.
         Works only if ZooKeeper is enabled. Comment it if such functionality isn't required. -->
	<distributed_ddl>
		<!-- Path in ZooKeeper to queue with DDL queries -->
		<path>/clickhouse/task_queue/ddl</path>
	</distributed_ddl>
	<!-- Settings to fine tune MergeTree tables. See documentation in source code, in MergeTreeSettings.h -->
	<!--
    <merge_tree><max_suspicious_broken_parts>5</max_suspicious_broken_parts></merge_tree>
    -->
	<!-- Protection from accidental DROP.
         If size of a MergeTree table is greater than max_table_size_to_drop (in bytes) than table could not be dropped with any DROP query.
         If you want do delete one table and don't want to change clickhouse-server config, you could create special file <clickhouse-path>/flags/force_drop_table and make DROP once.
         By default max_table_size_to_drop is 50GB; max_table_size_to_drop=0 allows to DROP any tables.
         The same for max_partition_size_to_drop.
         Uncomment to disable protection.
    -->
	<!-- <max_table_size_to_drop>0</max_table_size_to_drop> -->
	<!-- <max_partition_size_to_drop>0</max_partition_size_to_drop> -->
	<!-- Example of parameters for GraphiteMergeTree table engine -->
	<graphite_rollup_example>
		<pattern>
			<regexp>click_cost</regexp>
			<function>any</function>
			<retention>
				<age>0</age>
				<precision>3600</precision>
			</retention>
			<retention>
				<age>86400</age>
				<precision>60</precision>
			</retention>
		</pattern>
		<default>
			<function>max</function>
			<retention>
				<age>0</age>
				<precision>60</precision>
			</retention>
			<retention>
				<age>3600</age>
				<precision>300</precision>
			</retention>
			<retention>
				<age>86400</age>
				<precision>3600</precision>
			</retention>
		</default>
	</graphite_rollup_example>
	<format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
	<query_masking_rules>
		<rule>
			<name>hide encrypt/decrypt arguments</name>
			<regexp>((?:aes_)?(?:encrypt|decrypt)(?:_mysql)?)\s*\(\s*(?:'(?:\\'|.)+'|.*?)\s*\)</regexp>
			<replace>\1(???)</replace>
		</rule>
	</query_masking_rules>
	<send_crash_reports>
		<!-- Changing <enabled> to true allows sending crash reports to -->
		<!-- the ClickHouse core developers team via Sentry https://sentry.io -->
		<!-- Doing so at least in pre-production environments is highly appreciated -->
		<enabled>false</enabled>
		<!-- Change <anonymize> to true if you don't feel comfortable attaching the server hostname to the crash report -->
		<anonymize>false</anonymize>
		<!-- Default endpoint should be changed to different Sentry DSN only if you have -->
		<!-- some in-house engineers or hired consultants who're going to debug ClickHouse issues for you -->
		<endpoint>https://6f33034cfe684dd7a3ab9875e57b1c8d@o388870.ingest.sentry.io/5226277</endpoint>
	</send_crash_reports>
	<!-- Uncomment if enable merge tree metadata cache -->
	<merge_tree_metadata_cache>
		<lru_cache_size>268435456</lru_cache_size>
		<continue_if_corrupted>true</continue_if_corrupted>
	</merge_tree_metadata_cache>
</clickhouse>
