[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/ingester/bin/signoz-otel-collector --config=%Y/configs/ingester/ingester.yaml --manager-config=%Y/configs/ingester/opamp.yaml --copy-path=/var/lib/ingester/ingester.yaml
Group=signoz
KillMode=mixed
Restart=on-failure
Type=simple
User=signoz

[Unit]
After=signoz-telemetrystore-clickhouse-0-0 signoz-telemetrystore-migrator
Description=SigNoz OTel Collector
Documentation=https://signoz.io/docs
Requires=signoz-telemetrystore-migrator
