[Unit]
Description=SigNoz
Documentation=https://signoz.io/docs
After=clickhouse-server.service

[Service]
User=signoz
Group=signoz
Type=simple
KillMode=mixed
Restart=on-failure
WorkingDirectory=${SIGNOZ_INSTALL_DIR}
EnvironmentFile=${SIGNOZ_INSTALL_DIR}/conf/systemd.env
ExecStart=${SIGNOZ_INSTALL_DIR}/bin/signoz server

[Install]
WantedBy=multi-user.target