[Unit]
Description=Zookeeper
Documentation=http://zookeeper.apache.org

[Service]
EnvironmentFile=${ZOOKEEPER_INSTALL_DIR}/conf/zoo.env
Type=forking
WorkingDirectory=${ZOOKEEPER_INSTALL_DIR}
User=zookeeper
Group=zookeeper
ExecStart=${ZOOKEEPER_INSTALL_DIR}/bin/zkServer.sh start ${ZOOKEEPER_INSTALL_DIR}/conf/zoo.cfg
ExecStop=${ZOOKEEPER_INSTALL_DIR}/bin/zkServer.sh stop ${ZOOKEEPER_INSTALL_DIR}/conf/zoo.cfg
ExecReload=${ZOOKEEPER_INSTALL_DIR}/bin/zkServer.sh restart ${ZOOKEEPER_INSTALL_DIR}/conf/zoo.cfg
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target