[Install]
WantedBy=multi-user.target

[Service]
Environment=SIGNOZ_WEB_DIRECTORY=/opt/signoz/web
EnvironmentFile=/Users/grandwizard/Stash/foundry/examples/systemd/binary/pours/signoz-signoz/signoz-signoz.env
ExecStart=/opt/signoz/bin/signoz server
Group=signoz
KillMode=mixed
Restart=on-failure
Type=simple
User=signoz
WorkingDirectory=/opt/signoz

[Unit]
After=signoz-telemetrystore-clickhouse-0-0 signoz-metastore-postgres
Description=SigNoz
Documentation=https://signoz.io/docs
