[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/Users/grandwizard/Stash/foundry/examples/systemd/binary/pours/signoz-metastore-postgres/signoz-metastore-postgres.env
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/postgres -D /usr/local/pgsql/data
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=infinity
Type=notify
User=postgres

[Unit]
After=network-online.target
Description=PostgreSQL database server
Documentation=man:postgres(1)
Wants=network-online.target
