[Unit]
Description=PostgreSQL database server
Documentation=man:postgres(1)
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=postgres
{{ if $.Spec.MetaStore.Spec.Env }}
{{ range $key, $value := $.Spec.MetaStore.Spec.Env }}
Environment={{ $key }}={{ $value }}
{{ end }}
{{ end }}
ExecStart=/usr/bin/postgres -D /usr/local/pgsql/data
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target