{{- $name := print $.Metadata.Name "-signoz" -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $name }}
  labels:
    app.kubernetes.io/name: {{ $name }}
    app.kubernetes.io/instance: {{ $.Metadata.Name }}
    app.kubernetes.io/component: signoz
    app.kubernetes.io/managed-by: kustomize
